@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #fbfdff;
}

h2 {
  font-family: "Mooli", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}

.container {
  max-width: 90% !important;
  margin: auto;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1100px !important;
  }
}

.shadow {
  box-shadow: 0 20px 27px 0px #0000000d !important;
}

.shadow-lg {
  box-shadow: 0 -3px 13px -4px #0000000d, 0 8px 9px -5px #0000000d !important;
}

.bg-primary-g {
  background-image: linear-gradient(to right, #9a4dc1, #4e90e7);
  color: #fff !important;
  border-radius: 6px;
}

.bg-primary-g:hover {
  background-image: linear-gradient(to left, #9a4dc1, #4e90e7);
}

.text-gradient {
  background: #9a4dc1;
  background: linear-gradient(to right, #9a4dc1 0%, #4e90e7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* --------------------Hero------------------ */
.fixed_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  background: #ffffffcc;
  backdrop-filter: blur(30px);
  box-shadow: 0 -3px 13px -4px #0000000d, 0 8px 9px -5px #0000000d;
}

.fixed_header .menu li a {
  color: #4f4f50;
}

.menu li a {
  color: #fff;
  transition: all 0.3s ease;
}

.menu li a:hover,
html.dark .menu li a:hover {
  color: #9a4dc1;
}

html.dark .menu li a {
  color: #ddd;
}

.hero_wrap {
  background-image: url("/images/hero/hero_bg.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

html.dark .hero_wrap {
  background-image: url("/images/hero/hero_bg_dark.avif");
  color: #fff;
}

.hero_content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

/* -----------------About----------------- */
.about_img {
  background-image: url(/images/about/nasim.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #9a4dc1;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  position: relative;
  transition: all 2s ease-in-out;
  margin: auto;
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* ----------------------Skill------------------------ */
.skill {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
}

.skill img {
  width: 90%;
  border-radius: 50%;
}

/* --------------------Projects------------------ */

.project_card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 500px;
}

.project_img {
  background-color: hsla(0, 0%, 46%, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  overflow: hidden;
}

.project_img img {
  height: auto;
  width: 100%;
  transform: translateY(0%);
  transition: transform 8s ease-in-out 0s;
}

.project_img img:hover {
  transform: translateY(-85%);
}

.project_content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project_card .links {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.project_card .links a {
  display: flex;
  align-items: center;
  gap: 8px;

  transition: all 0.3s ease;

  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 8px 15px;
  border-radius: 6px;
}

.project_card .links a:hover {
  color: #9a4dc1;
}

@media only screen and (min-width: 1024px) {
  .project_card {
    flex-direction: row;
    height: 380px;
  }

  .project_img {
    width: 60%;
  }

  .project_content {
    width: 40%;
  }

  .project_card .links {
    justify-content: center;
    gap: 24px;
  }

  .project_card .links a {
    font-size: 18px;
  }
}

/* --------------Loading CSS---------------------- */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #9a4dc1;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.skill {
  transition: all 0.3s ease;
}

.skill:hover {
  margin-top: -2px;
}
