@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #fbfdff;
}

h2 {
  font-family: "Mooli", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}

.container {
  max-width: 90% !important;
  margin: auto;
}

@media only screen and (min-width: 1250px) {
  .container {
    max-width: 1180px !important;
  }
}

.shadow {
  box-shadow: 0 20px 27px 0px #0000000d !important;
}

.shadow-lg {
  box-shadow: 0 -3px 13px -4px #0000000d, 0 8px 9px -5px #0000000d !important;
}

.bg-primary-g {
  background-image: linear-gradient(to right, #9a4dc1, #4e90e7);
  color: #fff !important;
  border-radius: 6px;
}

.bg-primary-g:hover {
  background-image: linear-gradient(to left, #9a4dc1, #4e90e7);
}

/* --------------- */

.menu li a {
  color: #606060;
  transition: all 0.3s ease;
}

.menu li a:hover,
html.dark .menu li a:hover {
  color: #4338ca;
}

html.dark .menu li a {
  color: #ddd;
}

.hero_wrap {
  background-image: url("/images/hero/hero_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

html.dark .hero_wrap {
  background-image: url("/images/hero/hero_bg_dark.avif");
  color: #fff;
}

.hero_content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

/* --------------Loading CSS---------------------- */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #9a4dc1;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
